<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='Acceuil.css') }}">
    <title>Page d'accueil</title>
</head>
<body>
    <div class="container_1">
        <p>Réservation de salles</p>
        <div class="container">
            <h1>Bienvenue sur notre site</h1>
            <form>
                <label><a href="/Connexion">Connexion</a></label>
                <label><a href="/Inscription">Inscription</a></label>
            </form>
        </div>
    </div>
</body>
</html>
