body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;

}
.detail {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(15, 134, 163, 0.671);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(15, 134, 163, 0.671);
    padding: 20px;
    text-align: center;
}

h2 {
    color: #504d4d;
    font-size: 24px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #ffffff;
    padding: 10px;
    font: size 20px;;
    font-weight: bolder;
}

p {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #ffffff;
    padding: 7px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.img-container img {
    height: 250px;
    width: 300px;
    border: 1px solid rgba(15, 134, 163, 0.671);
    border-radius: 4px;
    box-sizing: border-box;
}
header {
    background-color: rgba(15, 134, 163, 0.671);
    color: #fff;
    padding: 10px;
    text-align: center;
}
header a {
    color: #fff; /* Couleur des liens */
    text-decoration: none; /* Supprimer la soulignement des liens */
    font-weight: bold; /* Texte en gras */
    padding-left: 3px;
}

header a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
    color: #fff;
    padding-left: 3px;
}
